<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pronostico de Ventas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
</head>

<body id="page-top">
    {% if 'rol' in session %}
    <div id="wrapper">
        <nav class="navbar align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 navbar-dark" style="background: #760a16;">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#" style="--bs-primary: #44040b;--bs-primary-rgb: 68,4,11;--bs-secondary: #760a16;--bs-secondary-rgb: 118,10,22;--bs-success: #ad1326;--bs-success-rgb: 173,19,38;">
                    <div class="sidebar-brand-icon rotate-n-15" data-bs-theme="dark"></div>
                    <div class="sidebar-brand-text mx-3"><span>IMER</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    {% if session['rol'] == 'administrador' %}
                        <li class="nav-item"><a class="nav-link active" href="{{ url_for('dashboard') }}"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('registro') }}"><i class="fas fa-money-bill-wave"></i><span>Registrar Ventas</span></a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('inventario') }}"><i class="fas fa-table"></i><span>Inventario</span></a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('register') }}"><i class="fas fa-user-circle"></i><span>Registro Usuarios</span></a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('pronostico') }}"><i class="fas fa-calendar-alt"></i><span>Pronóstico</span></a></li> <!-- Nueva opción aquí -->
                    {% elif session['rol'] == 'encargado' %}
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('registro') }}"><i class="fas fa-money-bill-wave"></i><span>Registrar Ventas</span></a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('inventario') }}"><i class="fas fa-table"></i><span>Inventario</span></a></li>
                        
                    {% elif session['rol'] == 'empleado' %}
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('registro') }}"><i class="fas fa-money-bill-wave"></i><span>Registrar Ventas</span></a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('inventario') }}"><i class="fas fa-table"></i><span>Inventario</span></a></li>
                        
                    {% endif %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('profile') }}"><i class="fas fa-user"></i><span>Profile</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}"><i class="fas fa-arrow-right"></i><span>Cerrar Sesión</span></a></li>
                </ul>
                
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <nav class="navbar navbar-expand bg-white shadow mb-4 topbar">
                <ul class="navbar-nav flex-nowrap ms-auto">
                    <li class="nav-item dropdown no-arrow">
                        <div class="nav-item dropdown no-arrow">
                            <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">
                                <span class="d-none d-lg-inline me-2 text-gray-600 small">
                                    {{ session['nombre'] }} {{ session['apellido'] }} - {{ session['rol'] }}
                                </span>
                                <img class="border rounded-circle img-profile" src="../static/img/dogs/image.jpeg">
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <div id="content">
                <div class="header">
                    <h3>Pronostico de Ventas</h3>
                    <div class="row mb-3">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col">
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 fw-bold">Datos de Ventas</p>
                                        </div>
                                        <div class="content">
                                            <div class="table-container">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Tipo</th>
                                                            <th>Color</th>
                                                            <th>Material</th>
                                                            <th>Agregado</th>
                                                            <th>Cantidad</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for prediccion in predicciones %}
                                                        <tr>
                                                            <td>{{ prediccion.ID }}</td>
                                                            <td>{{ prediccion.Tipo }}</td>
                                                            <td>{{ prediccion.Color }}</td>
                                                            <td>{{ prediccion.Material }}</td>
                                                            <td>{{ prediccion.Agregado }}</td>
                                                            <td>{{ prediccion.Cantidad }}</td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="btn-container">
                                                <button class="btn btn-volver btn-secondary" onclick="guardarPredicciones()">Guardar como PDF</button>
                                                <a href="{{ url_for('registro_venta') }}" class="btn btn-volver btn-primary">Volver al Registro</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>&copy; 2024 - Registro de Ventas</span></div>
                </div>
            </footer>
        </div>
        <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
    <script>
        function guardarPredicciones() {
            const predicciones = JSON.parse('{{ predicciones | tojson }}');
            fetch("{{ url_for('guardar_predicciones') }}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ predicciones })
            })
            .then(response => response.blob())
            .then(blob => {
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.style.display = 'none';
                a.href = url;
                a.download = 'predicciones.pdf';
                document.body.appendChild(a);
                a.click();
                window.URL.revokeObjectURL(url);
            })
            .catch(error => console.error('Error:', error));
        }
    </script>
</body>
</html>
